@{
    ViewData["Title"] = "Home Page";
}

<form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="UploadOfx">
    <dl>
        <dt class="form-group">
            <label>Upload OFX File</label>
        </dt>
        <dd class="form-group">
            <input type="file" name="files">
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload">
</form>
